*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(
135deg,
#4ea2f7,
#98bedf,
#4397e0
);
/* background:rgb(211, 230, 247); */
}
.box{
    z-index: 100;
width: 30vw;
height: 30vw;
border-radius: 50%;
background: conic-gradient(
#7ab6ff,
#a0d8ff,
#7ab6ff
);
/* background: #f3e9d5; */
text-align:center;
box-shadow:0 8px 19px rgba(20, 31, 46, 0.774);
transition: transform 0.5s ease-in-out;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.box:hover{
    transform: scale(0.9);
}
.time{
    color: #ffffff;
font-size:50px;
margin-bottom:25px;
}

.btns button{
padding:10px 20px;
margin:5px;
font-size:16px;
border:none;
border-radius:10px;
cursor:pointer;
background: #2b2b2b;
color: #ffffff;
/* background:#333; */
/* color:white; */
transition: transform 0.3s ease;
}

.btns button:hover{
    transform: scale(1.1);
}
#ms{
    /* border: 1px solid; */
    font-size: 30px;
}
.faseeh{
    border: 5px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
}
.main{
    width: 33vw;
    height: 33vw;
    border: 5px color-mix(in srgb, blue 60%, green 40%);
    border-top: 5px solid blue;
    /* border-bottom: 4px solid blueviolet; */
    z-index: -10;
}
.main2{
    width: 36vw;
    height: 36vw;
    border: 5px color-mix(in srgb, blue 60%, green 40%);
    /* border-left: 4px solid  deepskyblue; */
    border-right: 5px solid purple;
    z-index: -15;
}
.main3{
    width: 38vw;
    height: 38vw;
    border: 5px color-mix(in srgb, blue 60%, green 40%);
    /* border-left: 4px solid  deepskyblue; */
    border-bottom: 5px solid blueviolet;
    z-index: -20;
    
}
.main4{
    width: 40vw;
    height:40vw;
    border: 5px color-mix(in srgb, blue 60%, green 40%);
    /* border-left: 4px solid  deepskyblue; */
    border-left: 5px solid rgb(13, 87, 156);
    z-index: -25;

}
.BOX{
    animation: rotate 2s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.BOX-2{
    animation: rotation 2s infinite linear;
}
@keyframes rotation{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
