*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:rgb(211, 230, 247);
}

.box{
    z-index: 100;
width: 30vw;
height: 30vw;
border-radius: 50%;
background: #f3e9d5;
text-align:center;
box-shadow:0 8px 19px rgba(0, 0, 0, 0.466);

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.time{
font-size:50px;
margin-bottom:25px;
}

.btns button{
padding:10px 20px;
margin:5px;
font-size:16px;
border:none;
border-radius:10px;
cursor:pointer;
background:#333;
color:white;
transition: transform 0.3s ease;
}

.btns button:hover{
    transform: scale(1.1);
    opacity:0.8;
}
#ms{
    /* border: 1px solid; */
    font-size: 30px;
}

.main{
    width: 33vw;
    height: 33vw;
    border: 5px solid transparent;
    border-top: 4px solid blue;
    border-bottom: 4px solid blueviolet;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    z-index: -10;
}
.main2{
    width: 36vw;
    height: 36vw;
    border: 5px solid transparent;
    border-left: 4px solid  deepskyblue;
    border-right: 4px solid rgb(87, 51, 158);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    z-index: -15;
}
.BOX{
    animation: rotate 2s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.BOX-2{
    animation: rotation 3s infinite linear;
}
@keyframes rotation{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}